---
import NavBar from "@/components/NavBar.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="About" description="About page">
    <h1>About</h1>

    <NavBar />
</BaseLayout>
