---
import NavBar from "@/components/NavBar.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Products" description="Products page">
    <h1>Products</h1>

    <NavBar />
</BaseLayout>
