---
import NavBar from "@/components/NavBar.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="FAQ" description="Preguntas frecuentes">
    <h1>FAQ</h1>

    <NavBar />

    <p>Hola **a todos**. Esto es un ejemplo de markdown que hace:</p>

    <ul>
        <li>Listas</li>
        <li>Con</li>
        <li>Items</li>
    </ul>
    <p>**Negrita**, *Cursiva*</p>
    <ol>
        <li>1) Listas</li>
        <li>2) Con</li>
        <li>3) Orden</li>
    </ol>
</BaseLayout>
